{% extends 'layout.html' %}
{% block body%}
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Slno</th>
            <th scope="col">Student USN</th>
            <th scope="col">Applied for</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}