{% extends 'layout.html' %}
{% block body%}
<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Slno</th>
            <th scope="col">Student USN</th>
            <th scope="col">Name</th>
            <th scope="col">Branch</th>
            <th scope="col">Email</th>
            <th scope="col">Current Cgpa</th>
            <th scope="col">Academic year</th>
            <th scope="col">10th percentage</th>
            <th scope="col">12th percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1   </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>
{% endblock %}